@import "ionic.globals";

page-connexion {
  .logoTitle{
    margin-top: 30px;
    img{
<<<<<<< HEAD
        margin-top: 30px;
        width: 90px;
        
=======
      background:white;
      padding:15px;
      width:100px;
      height:100px;
>>>>>>> 11bd86962a7ee93cc1ea31715da4abffc2ee8b6f
    }
    h1 {
      // font-family: "Roboto", "Helvetica Neue", sans-serif;
      color: #F6F7EB;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
  .bg {
    width: 100%;
    height: 100%;
    background: color($colors, primary);
  }
  .scroll-content {
    text-align: center;
  }
  ion-card.card {
    background: transparent;
    border-radius: 0px transparent;
    color:white;
  }
  .item {
    background: rgba(232, 230, 230, 0px);
  }
  ion-input {
    color:white;
    background: color($colors, primary-darker);
  }
  .button-outline-md-primary{
    border: white solid 2px;
    border-radius: 5px;
    padding:10px 0;
    color:white !important;
  }
  a{
    color:white;
  }
  .item-md p{
    color:white;
  }
  ion-icon{
    margin-right:10px;
  }
}
