page-ConfirmationPage{



#valide{
    background-color: #31C44D;
    width: 94%;
    height: 30%;
    padding-right: 0%;
    padding-left: 0%;
    
}

#info{
    text-align: center;
    height: 43%;
    
}

#suivant{
    
    height: 20%;
    padding-bottom: 5%;
    
    
}

p{
    text-align: center;
    
}

ion-icon{
    font-size: 100px;
    position: absolute;
    right: 50%;
    left: 40%;
    top: 5%;
}

#billetV{
   
    position: absolute;
    right: 30%;
    left: 30%;
    top: 23%;
}

.button{
    background-color: #31C44D;
    height: 113px;
    border-color: #31C44D;
    
}

}