page-ConfirmationPage{



#valide{
    width: 94%;
    height: 30%;
    padding-right: 0%;
    padding-left: 0%;
    
}

#info{
    text-align: center;
    height: 43%;
    
}

#suivant{
    height: 20%;
    padding-bottom: 5%;
}


}