@import "ionic.globals";

page-parametre {
  ion-content {
    margin-top: 45 px;
  }
  p {
    padding-left: 28px;
  }

  ion-content,
  ion-icon {
    color: color($colors, primary);
  }
  .label-md {
    padding: 2px;
  }
}
