@import "ionic.globals";

page-parametre {
  ion-content {
    margin-top: 45 px;
    ion-icon {
      color: color($colors, primary);
    }
  }
  p {
    padding-left: 28px;
  }

  .label-md {
    padding: 2px;
  }
}
